:root {
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: #05040C;
}

#root {
  width: 100%;
  min-height: 100svh;
}

h1, h2, h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: inherit;
}

button {
  font: inherit;
}
